<% @posts.each do |post| %>
<article>
  <header>
    <h1 style="overflow:visible;"><%= post.title %></h1>
    <h4><time datetime="post.created_at">
      Posted On:  <%= post.created_at.strftime('%D') %>
    </time></h4>
  </header>
  <div class="post-body">
   <h3> 
    <%= post.body %>
  </h3>
  </div>
  <br>
  <%= link_to 'Read more...', post %>
  <hr style="opacity: 0.4;">
</artice>
<% end %>