<% @posts.each do |post| %>
<article>
  <header>
    <h1 style="overflow:visible;"><%= post.title %></h1>
    <div class="date-time"><time datetime="post.created_at">
      <%= post.created_at.strftime('%a %b %e %Y at %r') %>
    </time></div>
  </header>
  <div class="post-body"> 
    <%= simple_format truncate(post.body, :length => 215) %>
  </div>
  <br>
  <%= link_to 'Read more...', post %>
  <hr style="opacity: 0.4;">
</artice>
<% end %>