<%= render :partial => @post %>

<%= link_to 'Back', posts_path, :class => "button-edit"%> 
<%= link_to 'Edit Post', edit_post_path(@post), :class => "button-edit"%>

<h2>Comments</h2>
<div id ="comments">
	<%= render 'posts/comment' %>
</div>
