/*input[type="submit"] {
  @include button;
}*/

body {
  background: #a28491; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #a28491 0%, #947481 98%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a28491), color-stop(98%,#947481)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #a28491 0%,#947481 98%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #a28491 0%,#947481 98%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #a28491 0%,#947481 98%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #a28491 0%,#947481 98%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a28491', endColorstr='#947481',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background: -moz-radial-gradient(top right, ellipse cover,  #a28491 0%, #947481 98%); /* FF3.6+ */
  background: -webkit-gradient(radial, top right, 0px, center center, 100%, color-stop(0%,#a28491), color-stop(98%,#947481)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(top right, ellipse cover,  #a28491 0%,#947481 98%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(top right, ellipse cover,  #a28491 0%,#947481 98%); /* Opera 12+ */
  background: -ms-radial-gradient(top right, ellipse cover,  #a28491 0%,#947481 98%); /* IE10+ */
  background: radial-gradient(ellipse at top right,  #a28491 0%,#947481 98%); /* W3C */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body > #wrapper > header {

  img {
    position: relative;
    top: 20px;
  }

  h1.site-title {
    display: inline-block;
    opacity: 0.8;
   a {
    text-decoration: none;
    color: #fff;
   } 
  }
}

div#wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
  min-width: 960px;
  margin-bottom: 30px;
}

div#main {
  background: #5d3a49; /* Old browsers */
  background: -moz-radial-gradient(top center ellipse cover,  #5d3a49 16%, #3b2f3a 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(16%,#5d3a49), color-stop(100%,#3b2f3a)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(top center, ellipse cover,  #5d3a49 16%,#3b2f3a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(top center, ellipse cover,  #5d3a49 16%,#3b2f3a 100%); /* Opera 12+ */
  background: -ms-radial-gradient(top center, ellipse cover,  #5d3a49 16%,#3b2f3a 100%); /* IE10+ */
  background: radial-gradient(ellipse at top center,  #5d3a49 16%,#3b2f3a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d3a49', endColorstr='#3b2f3a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 20px 40px;
  border-radius: 15px;
  width: 65%;
  float: left;
  min-height: 916px;
}

div#sidebar {
  float: right;
  width: 20%;
  border-radius: 15px;
  padding: 25px;
  background: #5d3a49; /* Old browsers */
  background: -moz-radial-gradient(top center ellipse cover,  #5d3a49 16%, #3b2f3a 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(16%,#5d3a49), color-stop(100%,#3b2f3a)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(top center, ellipse cover,  #5d3a49 16%,#3b2f3a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(top center, ellipse cover,  #5d3a49 16%,#3b2f3a 100%); /* Opera 12+ */
  background: -ms-radial-gradient(top center, ellipse cover,  #5d3a49 16%,#3b2f3a 100%); /* IE10+ */
  background: radial-gradient(ellipse at top center,  #5d3a49 16%,#3b2f3a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d3a49', endColorstr='#3b2f3a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#footer {
  position: relative;
  width: 100%;
  height:60px;
  background-color: green;
  z-index: 1;
}

.top-bar, .top-bar-section li a{
	background: none !important;
	height: 150px;
}

.icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background: url(amy.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.icon-belly {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background: url(belly.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.logo{
  display: block;
  width: 50px;
  height: 50px;
  background: url(ghostpeep.png) no-repeat;
}

footer {
  margin-top: 50px;
  background-color: none;
  color: none;
  text-align: center;
  p {
    line-height: 100px;
  }
}

 h1 { 
 font-family: 'Dancing Script', cursive; 
 font-weight: 200;
 color: white;
 opacity: 0.8;
	}

h1 a {
 font-size: 100px;
 opacity: 0.8;
}

.post-title {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: white;
  opacity: 0.8;
  margin: 10px 0;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  color: white;
  opacity: 0.8;
}

h3 {
  font-family: 'Droid Serif', serif;
  font-size: 12px;
  color: white;
  line-height: 20px;
}

.post-body {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  color: white;
  opacity: 0.8;
  line-height: 24px;
}

.date-time {
  font-family: 'Droid Serif', serif;
  font-size: 12px;
  font-weight:10;
  color: #BE9693;
  opacity: 0.8;
}

.footer {
  font-family: 'Droid Serif', serif;
  font-size: 8px;
  color: white;
  opacity: 0.7;
  margin-bottom: 5px;
  text-align: center;
}

body > .footer {
  
  a:link {
    color: #3B2D41;
  }

  a:visited {
    color: #3B2D41;
  }
}

a:link {
  color: #BE9693;
}

a:visited {
  color: #946B68;
}

img {
  max-width: 50%;
  height: auto;
}

.link {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.pagination {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  text-align: center;
  color: white;
  opacity: 0.8;
}

.form-post
{
  max-width: 200px;
  padding: 10px;
  max-height: 900px;
  margin: 0 auto;
  padding-top: 5px;
  text-align:center; /*add this;*/
}

#form-post .field input {
  width: 60%;
  height: 20px;
}

#form-post .field-body input {
  max-width: 60%;

}

.tinymce-content p {
  padding: 0;
  margin: 0 0;
  border: 0;
}

p.sign-in{
  font-size: 12px;
  font-color: white;
  text-align: right;
  margin-top: 3px;
  margin-right: 3px;
}

p.button {
  position: absolute;
  text-decoration: none;
  right: 0;
  margin-right: 3px;
  border-top: 1px solid #421f31;
  background: #421f31;
  background: -webkit-gradient(linear, left top, left bottom, from(#421f31), to(#421f31));
  background: -webkit-linear-gradient(top, #421f31, #421f31);
  background: -moz-linear-gradient(top, #421f31, #421f31);
  background: -ms-linear-gradient(top, #421f31, #421f31);
  background: -o-linear-gradient(top, #421f31, #421f31);
  padding: 8px 16px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #946b68;
  font-size: 20px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}
p.button:hover {
  border-top-color: #421f31;
  background: #421f31;
  color: #ffffff;
}
p.button:active {
  border-top-color: #946b68;
  background: #946b68;
}

p.button {

  a:link {
    text-decoration: none;
    color: white;
    opacity: 0.7;
  }

  a:visited {
    text-decoration: none;
    color: white;
    opacity: 0.7;
  }

  a:hover {
    text-decoration: none;
  }
}




