<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <br/>
    <li class="name"><img src="/assets/ghostpeep.png" style="height:90px !important;">
     <h1 style="display:inline-block">
        <%= link_to 'ghostpeep', root_path %>
      </h1>
  </ul>
</nav>