<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name"><img src="/assets/ghostpeep.png" height="60px">
     <h1 style="display:inline-block">
        <%= link_to 'ghostpeep', root_path %>
      </h1>
  </ul>
</nav>