<div id="sidebar">
	<h1>About Me</h1>
	<div class = "icon"></div>
</br>
	<h3>
		My name is Amy. I am 30-years old and I live outside of Washington, DC. I created this blog to post about some of the creative things that I like to do - such as sewing, makeup, dabbling in adobe illustrator and web design (very beginner level).  There will also inevitably be many pictures of my adorable tuxedo cat, Belly.
	</br>
	</br>
		Why is this blog titled "ghostpeep?" I love peeps (the marshmallow easter candy), and the halloween ghost-shaped ones are my favorite.
	</h3>
</div>