<div id="sidebar">
	<h1 class="post-title">About Me</h1>
	<div class="icon"></div>
</br>
	<h3 class="sidebar-text">
		My name is Amy. I am 30-something living just outside of Washington, DC. I created this site to post about some of the things that I enjoy doing - such as sewing, makeup, dabbling in adobe illustrator and web design (very beginner level), logging diet and weight loss progress (if ever), and complaining.  There will also inevitably be many pictures of my tuxedo cat, Belly, also lovingly referred to as "the boy."
	</br></br>
		Why is this blog titled "ghostpeep?" I love peeps (the marshmallow easter candy), and the halloween ghost-shaped ones are my favorite.
	</h3>
	<br>
	<h1 class="post-title">The Boy</h2>
		<div class="icon-belly"></div>
</br>
	<h3>
</div>